:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0F2C59;
  background-color: #f8e0bf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set the minimum height to fill the viewport */
}

.contactMeText {
  text-align: center;
  justify-content: center;
}

.aboutMeWrapper {
  flex: 1; /* Expand and fill available space */
  padding: 20px;
  padding-bottom: 160px;
  text-align: center;
  justify-content: center;
}

/* Style the ul (unordered list) */
.aboutMeWrapper ul {
  list-style-position: inside; /* Place bullet points inside the list items */
  text-align: center; /* Reset text alignment to left inside the list items */
}


#contact-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
  text-align: center;
}

.resumeWrapper {
  flex: 1; /* Expand and fill available space */
  padding: 20px;
  padding-bottom: 100px;
  text-align: center;
  justify-content: center;
}

/* Style the form container */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 250px;
  padding-bottom: 250px;
}

.thankYou {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 250px;
  padding-bottom: 700px;
}

/* Style form inputs and labels */
form input[type="text"],
form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

form label {
  font-weight: bold;
  display: block;
  margin: 5px 0;
}

/* Style form buttons */
form button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}


.logos {
  padding: 20px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F8F0E5;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.headerText {
  width: 100%;
}
.profileImage {
  height: 250px;
  width: 250px;
  background-color:#F8F0E5 ;
  border-radius: 50%;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F8F0E5;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


nav ul {
  display: flex;
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

nav ul li {
  margin-right: 100px; /* Add some spacing between the navigation items */
  border-radius: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}



.navButtons a {
  font-weight: 500;
  color: #0F2C59;
  text-decoration: inherit;
  padding: 2px;
  transition: color 0.25s; /* Add a color transition for smoother effect */
}

.navButtons a:hover {
  color: #F8F0E5;
  background-color: #0F2C59;
  padding: 2px;
  border-radius: 10px;
}

/* Style the focus state */
.navButtons a:focus,
.navButtons a:focus-visible {
  outline: none; /* Remove the default focus outline */
  color: #F8F0E5; /* Change the text color on focus */
  background-color: #0F2C59;
  padding: 2px;
  
}

.message {
  text-align: center;
  background-color: #F8F0E5;
  padding: 5px;
  opacity: 1; /* Initially fully visible */
  transition: opacity 1s; /* Define the transition effect for opacity */
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #0F2C59;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}